.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  background-color: $color-background;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 70%;
}

.icon {
  width: 30%;
  float: left;
}

.username {
  display: none;
  transition: 0.9s;
}

input {
  height: 30px;
  text-align: center;
  font-size: 16px;
  margin: 20px 30px;
}

#button {
  background-color: $color-principal;
  padding: 6px 20px;
  color: $color-ligth;
  border-width: 0;
  border-radius: 4px;
}

#button:hover {
  background-color: $color-hover;
  color: $color-ligth;
}

#imgName {
  width: 75%;
  border-radius: 10px;
  margin: 10px;
}

@media (min-width: 768px){
  .container {
    width: 80%;
    height: 100vh;
    height: 90%;
    border-radius: 20px;
    box-shadow: -5px 6px 22px -8px rgba(36,113,163,1);
  }

  .content {
    flex-direction: row;
  }

  .icon {
    margin-left: 50px;
  }

  input {
    margin: 20px 30px;
  }

  #imgName {
    width: 40%;
  }


}
